<div class="buffer-bottom">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user_comment', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            "Destroy", event_comment_path(comment.event, comment),
            method: :delete, data: {confirm: t('Are you sure?')}
        ) %>
    <% end %>
  </p>
</div>
