<div class="buffer-both">
  <h2> <%= t("users.show.forgot_pass")%> </h2>
</div>

<form>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group buffer-both">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="actions buffer-both">
      <%= f.submit t("users.show.send_pass"), class: "btn btn-success" %>
    </div>
  <% end %>

</form>

<%= render "devise/shared/links" %>
