<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

<form>
  <div class="fform-group buffer-both">
    <%= f.label t('events.new.title') %>
    <%= f.text_field :title, class: 'form-control', class: "form-control" %>
  </div>

  <div class="form-group buffer-both">
    <%= f.label t('events.new.address') %>
    <%= f.text_field :address, class: 'form-control', class: "form-control" %>
  </div>

  <div class="form-group buffer-both">
    <%= f.label t('events.new.datetime') %>
    <p><%= f.datetime_select :datetime, class: 'form-control', class: "form-control" %></p>
  </div>

  <div class="form-group buffer-both">
    <%= f.label t('events.new.description') %>
    <%= f.text_area :description, class: 'form-control', class: "form-control" %>
  </div>

  <div class="form-group buffer-both">
    <%= f.label :pincode %>
    <%= f.text_area :pincode, class: 'form-control', class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('events.new.save'), class: 'btn btn-success buffer-both' %>
    <%= t('events.new.or') %> <%= link_to t('events.new.back'), :back %>
  </div>
</form>

<% end %>
