<h1>PIN-only access</h1>

<%= form_tag('', method: 'post') do %>
  <div class="form-group">
    <%= label 'pincode', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag "Send", class: "btn btn-success buffer-both" %>
  </div>
<% end %>

<%= link_to 'To the main page', events_path %>
