<p> <%= t("password.hello") %> <%= @resource.email %>!</p>

<p> <%= t("password.someone") %> </p>

<p><%= link_to t("users.show.change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p> <%= t("password.if_you") %> </p>
<p> <%= t("password.your_password_wont") %> </p>
