<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rendezvous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if user_signed_in? %>
              <li><%= link_to t('app.prof'), current_user, class: 'buffer-small btn btn-primary' %></li>
              <li><%= button_to t('app.out'), destroy_user_session_path,
                  method: :delete, class: 'buffer-small btn btn-primary' %></li>
              <% else %>
              <li><%= link_to t('app.in'), new_user_session_path, class: 'buffer-small btn btn-primary' %></li>
              <li><%= link_to t('app.up'), new_user_registration_path, class: 'buffer-small btn btn-primary' %></li>
            <% end %>
          <% I18n.available_locales.each do |locale| %>
            <li>
              <% if I18n.locale == locale %>
                <%= link_to "English", root_path(locale: locale), class: 'buffer-small btn btn-primary' %>
              <% else %>
                <%= link_to "Français", root_path(locale: locale), class: 'buffer-small btn btn-primary' %>
               <% end %>
            </li>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        <%- flash.each do |name, msg| -%>
          <div class="alert alert-warning alert-dismissible fade show buffer-top" role="alert">
            <h5>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <%- end -%>

        <%= yield %>
      </div>
    </div>

      <footer>
        <div class="buffer-top">
          <p>&copy; <%= t('app.company') %></p>
        </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
